## TEXT DATA ##
*.csv
*.json

## IMAGE DATA ##
*.jpg
*.jpeg
*.png

## CONTAINERS ##
# .h5 is a data file saved in the Hierarchical Data Format (HDF)
# it contains multidimensional arrays of scientific data
# commonly used in aerospace, physics, engineering, finance,
# academic research, genomics, astronomu, electronic instruments, and
# medical fields
*.h5
*.mat
*.m

## CHECKPOINTS ##

# jupyter notebook
*-checkpoint.ipynb
*-jvsc-*.ipynb
*.pyc

# macOS folder information
.DS_Store